@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

@theme {
    --color-primary: #1f3e73;
    --color-secondary: #e30613;
    --color-accent: #0074c8;
    --color-neutral: #f1f5f9;
    --color-light: #ffffff;
}
